body {
    margin:0;
    padding:0;
    background-color: #a5a5a5;
    font-family: "Comic Sans MS";
}
header {
	background-color: #5590e8;
    margin:0;
    padding:0;
    display: block;
}
header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

 /*Change the link color to #111 (black) on hover*/
header ul li a:hover {
    background-color: #111;
}
ul {
    width:50%;
    display: inline;
}

h1 {
	font-family: "Arial Black";
    margin:0;
    padding:0;
}

h2 {
	font-family: "Arial Black";
    padding-left: 15px;	
}
p {
    padding-left: 15px;
}

.content {
	
}

.google-search {
    float: right;
    display: inline;
    padding-top:14px;
    padding-right:15px;  
}
.nav-bar {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding-left:16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    text-decoration: none;
    font-family: Arial;
    width: 100%;
}
.link-bar {
    float: left;
}